name: gitleaks-CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  gitleaks-scan:
    name: Gitleaks Scan
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure safe.directory on runner
        run: git config --global --add safe.directory "${{ github.workspace }}"

      - name: Run Gitleaks
        uses: zricethezav/gitleaks-action@v8
        with:
          args: detect --source . --redact --exit-code 1 --report-path gitleaks-report.json

      - name: Upload Gitleaks report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: gitleaks-report.json
